<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.ProjectConnectionString"
            connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=Project;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.ProjectConnectionString1"
            connectionString="Data Source=DESKTOP-5KG7HFR\SQLEXPRESS;Initial Catalog=Project;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.naaConnectionString"
            connectionString="Data Source=DESKTOP-5SN5VL1\SQLEXPRESS;Initial Catalog=naa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
